.header {
  height: 65px;
  margin: 0 auto;
  width: 1350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header button {
  height: 30px;
  width: 115px;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
.header-button {
  border: 1px #37aeb7 solid;
  color: #37aeb7;
  background-color: white;
}

.red-button {
  background-color: #c2175b;
  border: none;
  color: white;
}

.header img {
  height: 40px;
  width: 70px;
  object-fit: cover;
}
.header input {
  height: 40px;
  width: 635px;
  border-radius: 10px;
  border: none;
  background-color: #f2f4f5;
  font-size: 16px;
  outline: none;
}
