/* Footer */

.footer {
  padding: 50px 0;
  background-color: #37aeb7;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: white;
  text-decoration: none;
}
.footer p {
  color: white;
}
