/* GENERAL RULES */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HOME CSS */

img {
  object-fit: cover; /* garde les proportions en couvrant l'intégralité des dimensions `width` et `height` */
  object-position: center;
}

.presentation {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.presentation2 {
  display: flex;

  flex-direction: column;
}

.board {
  border: 2px solid black;
  width: 540px;
  height: 360px;
}
